@model CubeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h1 class="display-4">Datos Cubos</h1>

    <form method="post" asp-controller="Home" asp-action="Calcular">

        Primer Cubo  --> X : <input type="number" asp-for="XCubeA" /> - Y : <input type="number" asp-for="YCubeA" /> Z : <input type="number" asp-for="ZCubeA" /> . Longitud : <input type="number" asp-for=" lengthCubeA " />  
        Segundo Cubo --> X : <input type="number" asp-for="XCubeB" /> - Y : <input type="number" asp-for="YCubeB" /> Z : <input type="number" asp-for="ZCubeB" /> . Longitud : <input type="number" asp-for=" lengthCubeB " /> 
        
        <br />
        Resultado : <input type="text" asp-for="Resultado" />

        <br/> 
        <button asp-controller="Home" asp-action="Calcular">Calcular</button>
    </form>

    <p>Ver código <a href="https://github.com/acandaldev/InterseccionCubos">Github</a>.</p>
</div>
